$cursorAssets: 'src/assets/cursor.svg';

.form {
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 100%;
  box-shadow: 0 0 10px 1px rgba(34, 60, 80, 0.2);
  border-radius: 6px;
  padding: 20px 0;
  background-color: #ffffff;
  
  .heading {
	font-size: 12px;
	font-weight: 500;
	margin-left: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
  }
  
  .checkBoxContainer {
	width: 100%;
	height: 40px;
	padding-left: 20px;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 13px;
	
	&:hover {
	  background-color: #f1fcff;
	  cursor: url('src/assets/cursor.svg'), pointer;
	}
	
	label {
	  &:hover {
		background-color: #f1fcff;
		cursor: url('src/assets/cursor.svg'), pointer;
	  }
	}
	
	.checkBoxInput {
	  appearance: none;
	  position: relative;
	  width: 20px;
	  height: 20px;
	  background: none;
	  border-radius: 3px;
	  border: 1px solid #9abbce;
	  transition: 200ms;
	  margin-right: 10px;
	  
	  &:hover {
		background-color: #f1fcff;
		cursor: url('src/assets/cursor.svg'), pointer;
	  }
	  
	  &:after {
		content: '';
		position: absolute;
		top: 5px;
		left: 3px;
		width: 0;
		height: 0;
		font-size: 30px;
		background-image: url('../../src/assets/check.svg');
		background-repeat: no-repeat;
		transition: 200ms;
	  }
	  
	  &:checked {
		border: 1px solid #2196f3;
	  }
	  
	  &:checked::after {
		width: 30px;
		height: 30px;
		transition: 500ms;
	  }
	}
  }
}
